Intro to Python

In [1]:
#this is a comment
1+1

2

 in today's lecture we will start with python

In [2]:
2**4 #power

16

In [3]:
5%3 #remainder

2

2. Variables in Python

In [4]:
x=1+1

In [8]:
x #or print(x)

2

In [9]:
#Q2
height = 1.8
weight = 71
bmi = weight/height**2

In [10]:
bmi

21.91358024691358

In [11]:
#Q3
height = 2
weight = 71
bmi = weight/height**2

In [12]:
bmi

17.75

In [14]:
#Q4
x = 5

In [22]:
#Q5
x = x+1 #or x+=1

In [20]:
#Q6
x = 45
y = "Marshall"
z = "DSO 545"

In [27]:
x,y,z = 45,"Marshall","DSO 545"

In [29]:
x

45

In [30]:
y

'Marshall'

In [32]:
z

'DSO 545'

3.Type of data or variables

In [33]:
#Q7
type(x) #integer

int

In [34]:
type(bmi) #float or decimal

float

In [36]:
type('DSO 545') #string

str

In [37]:
#Q8
x = 2.5
type(x)

float

In [38]:
int(x)

2

In [39]:
type(x)

float

In [40]:
x = int(x)
type(x)

int

In [41]:
str(x)

'2'

In [42]:
x

2

4. Python "List" Data Structure

In [71]:
#Q9
squares = [1,4,9,16,25,36,49,64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [72]:
type(squares)

list

In [49]:
#Q10
mixed_list = ["one",1,"four",4,"nine",9]
mixed_list

['one', 1, 'four', 4, 'nine', 9]

In [50]:
#Q11
list_of_lists = [[1,"one"],[2,"two"],[3,"three"]]
list_of_lists

[[1, 'one'], [2, 'two'], [3, 'three']]

5. Accessing elements of lists in python

In [55]:
#Q12
squares[0] #first element. python starts its index at 0

1

In [56]:
#Q13
squares[2] #third element

9

In [57]:
squares[5] #sixth element

49

In [59]:
squares[20]#error. 20 is not index range for this list

IndexError: list index out of range

In [74]:
#Q14
squares[7]

64

In [75]:
#or
squares[-1] #last element in the list

64

In [76]:
squares[-2] #the second last element in the list

49

In [77]:
#or
len(squares) #number of elements in the list

8

In [78]:
squares[len(squares)-1]

64

In [86]:
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [80]:
#Q15
squares[:3]

[1, 4, 9]

In [83]:
#Q16
squares[4:]

[25, 36, 49, 64]

In [84]:
#Q17

In [85]:
squares[2:5] #third to sixth element, but do not include the sixth one

[9, 16, 25]

In [87]:
#Q18
squares[::3] #list[start:end:step]

[1, 16, 49]

In [88]:
#Q19
squares[::-1]

[64, 49, 36, 25, 16, 9, 4, 1]

In [89]:
#Q20
squares[::-2]

[64, 36, 16, 4]

In [90]:
squares[3::2] #every other second element starting from the fourth element

[16, 36, 64]

In [94]:
#21
x = [30,60,70,100,120]
x[2] = 95

In [104]:
x

[30, 55, 65, 95, 100, 120]

In [107]:
x[1:4] = 55,65,95

In [109]:
x

[30, 55, 65, 95, 100, 120]

6. Iterating over a Python List

In [113]:
x = range(10) #range(start, end)

In [115]:
for i in range(10):
    print("Pushin")

Pushin
Pushin
Pushin
Pushin
Pushin
Pushin
Pushin
Pushin
Pushin
Pushin

In [121]:
for i in range(10):
    print(i)
    print("Pushin")
print("Hi, I am Pushin") #exit the loop

0
Pushin
1
Pushin
2
Pushin
3
Pushin
4
Pushin
5
Pushin
6
Pushin
7
Pushin
8
Pushin
9
Pushin
Hi, I am Pushin

In [122]:
#Q23
list = [1,3,5,7,9]
for i in list:
    print(i)

1
3
5
7
9

In [129]:
#Q24
degrees = [0,10,20,40,100]
for i in degrees:
    print('list element:', i)

list element: 0
list element: 10
list element: 20
list element: 40
list element: 100

In [126]:
print ('DSO','545')

DSO 545

In [128]:
print ('DSO'+str(545))

DSO545

In [131]:
#Q25
for i in range(6):
    print(i)

0
1
2
3
4
5

In [139]:
#Q26
List = [1,3,5,7,9]
for i in range(5): #or for i in range(len(list)):
    print(list[i])

1
3
5
7
9

In [142]:
#Q27
list = [1,2,3,4,5,6,7,8,9]
[2*i for i in list]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [143]:
[i**3 for i in list]

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [146]:
x = [i**3 for i in list]
x

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [147]:
#Q28
[i**2 for i in list]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [148]:
##side question
[i**2 for i in list[::2]]

[1, 9, 25, 49, 81]

In [153]:
#Q29
#for loop
for i in list:
    if (i%2 == 0):
        print(i)

2
4
6
8

In [155]:
#using list comprehensions
[i for i in list if(i%2 == 0)]

[2, 4, 6, 8]

In [157]:
4%2 == 0

True

In [173]:
#Q30
x = [30, 60, 70, 100, 120]
x.append(150)
x

[30, 60, 70, 100, 120, 150]

In [174]:
#Q31
a = [170, 180, 190]

In [175]:
x.extend(a)
x

[30, 60, 70, 100, 120, 150, 170, 180, 190]

In [180]:
#Q32
x = [30, 60, 70, 100, 120]
x.insert(1, 50)
x

[30, 50, 60, 70, 100, 120]

In [181]:
#Q33
x.remove(50)
x

[30, 60, 70, 100, 120]

In [182]:
#Q34
x.index(70)

2

In [185]:
#Q35
x = [30, 50, 50, 50, 50, 60, 70, 100, 120]
x.count(50)

4

In [188]:
#Q36
x = [60, 20, 90, 35, 15]
x.sort()
x

[15, 20, 35, 60, 90]

In [189]:
#Q37
x.reverse()
#Q38
x

[90, 60, 35, 20, 15]